footer {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 230px;
	background: url(img/footer.jpg);
	background-position: top center;
	text-align: center;
	position: relative;
	.contacts-adres {
		// border: 1px solid black;
		width: 32%;
		display: inline-block;
		position: absolute;
		left: 0;
		margin: 5% 0 0 7%;
		text-align: right;
		color: $white;
		opacity: .5;
		font-family: 'LatoRegular';
	}
	.contacts-logo {
		// border: 1px solid black;
		width: 32%;
		display: inline-block;
	}
	.footer-logo {
		width: 78px;
		height: 104px;
		opacity: .5;
		padding: 20px 0 10px 0;
	}
	.contacts-telephone {
		// border: 1px solid black;
		width: 32%;
		display: inline-block;
		position: absolute;
		margin: 5% 0 0 -5%;
		text-align: left;
		color: $white;
		opacity: .5;
		font-family: 'LatoRegular';
	}
	.social-image {
		width: 30px;
		height: 30px;
		opacity: .5;
		padding: 0 0 5px 0;
		&:hover {
			opacity: 1;
		}
	}
	.footer-darker {
		font-family: Arial;
		font-size: 10px;
		color: $white;
		line-height: 50px;
		opacity: .5;
		height: 50px;
		background: rgba(0,0,0,.2);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}