html,body {
	margin:0;
	padding:0;
}

body {
	background: -webkit-linear-gradient(left, #EC407A, #AB47BC);
    background: linear-gradient(to right, #EC407A, #AB47BC);
	a {
		text-decoration: none;
	}
	li {
		list-style-type: none;
	}
}