body {
	font-family: 'LatoBold', 'PT Sans', Arial;
    width: 100%;
	height: 100%;
	a {
		text-decoration: none;
	}
	li {
		list-style-type: none;
	}
}

.scroll-top {
	display: none;
	position: absolute;
	right: 2%;
	width: 64px;
	height: 64px;
	background: url(img/top.png) no-repeat;
	opacity: 0.3;
	border: none;
	outline: none;
	&:hover {
		opacity: 1;
	}
}