// Colors
$white: #FFFFFF;
$black: #000000;
$dark-brown: #6D4C41;
$dark-blue: #314a5b;
$opacity-white: rgba(255,255,255,0.9);
$light-gray: #b8b8b8;
//Classes
.blur {
	filter: blur(5px);
	-o-filter: blur(5px);
	-moz-filter: blur(5px);
	-webkit-filter: blur(5px);
}

.hidden {
	display: none;
}