header {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(img/head.jpg) fixed no-repeat;
    background-size: cover;
    height: 650px;
    max-height: 650px;
    position: relative;
    .menu-wrapper {
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: rgba(0,0,0,0.3);
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        .global-nav {
            display: table;
            margin: auto;
            .logo {
                background: url(img/logo.png) no-repeat;
                background-size: cover;
                width: 300px;
                height: 404px;
                float: left;
                margin: 100px 30px 0 30px;
                opacity: 0;
                -webkit-transition: all .2s linear;
                -moz-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear;
            }
            .logo-animated {
                //background: url(img/logo-black.png) no-repeat;
                background-size: 100%;
                margin-top: 1px;
                width: 50px;
                height: 67px;
                opacity: 1;
            }
            ul {
                float: left;
                line-height: 60px;
                li {
                    float: left;
                    margin: -45px 5px 10px 5px;
                    padding: 2px;
                    a {
                        color: $white;
                        opacity: 0.7;
                        font-size: 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            opacity: 1;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .menu-wrapper-animated {
        background-color: #795548;
        box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.3);
        z-index: 3;
        .global-nav ul li a {
            color: $white;
        }
    }
}
