header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background: url(img/header.jpg) left top no-repeat; 
    background-size: cover;
    .header-content {
    	width: 100%;
    	margin: 0 auto 30px auto;
    	padding: 20px 0 0 0;
        .logo {
            width: 357px;
            height: 480px;
            background: url(img/tn-logo.png);
            margin: 0 auto;
            opacity: 0.7;
        }
        .main-menu {
            margin: 35px 0;
            width: 100%;
            text-align: center;
            position: relative;
            background: rgba(0,0,0,0.4);
            padding: 30px 0;
            ul {
                width: 900px;
                display: inline-table;
                vertical-align: middle;;
                li {
                    float: left;
                    margin-left: 5%;
                    a {
                        display: block;
                        color: white;
                        opacity: 0.8;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                li:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
