.content-wrapper {
	width: 100%;
    .about {
    	width:80%;
    	margin: 30px auto;
    	padding:15px;
    	display: table;
        p {
        	margin: 0;
        	color: $dark-blue;
            font-family: 'LatoRegular';
            text-align: justify;
        }
    }
}
