.content-wrapper {
	width: 100%;
    .about {
    	width:80%;
    	margin: 30px auto;
    	padding:15px;
    	display: table;
    	.title {
    		font-size: 26px;
    	}
        p {
        	margin: 0;
        	color: $dark-blue;
            font-family: 'LatoRegular';
            text-align: justify;
            line-height: 30px;
            font-size: 18px;
        }
    }
}
