.hover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 998;
}

.popup-content {
    padding: 20px 30px;
    height: 100%;
    overflow: auto;
}

.data-content {
    line-height: 2vw;
    font-family: 'LatoLight';
    font-size: 1.3vw;
    font-weight: bold;
    color: $dark-blue;
}

.popup {
    display: none;
    position: absolute;
    width: 50%;
    height: 25%;
    background: #fff;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    padding: 60px 0;
    margin-left: -25%;
    text-align: center;
    box-shadow: 0 0 10px 0 #000;
    z-index: 999;
}

.img-popup {
    padding: 0;
}

.close {
    position: absolute;
    background: $light-pink;
    color: white;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: 'LatoBold';
    cursor: pointer;
    box-shadow: 0 0 10px 0 #000;
}
